th {
  border: solid 3px wheat;
  padding: 15px;
}

td {
  border: solid 1px wheat;
  padding: 5px;
}

h1 {
  text-align: center;
}

#pagination-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

#pages-btn-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 5px;
}

#show-state {
  margin-left: auto;
  margin-right: 20px;
}

.active-page-btn {
  background: green;
}

.hide {
  display: none;
}
