.main-container {
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  overflow-y: scroll;
}

.main-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 100px;
}

.main-container::-webkit-scrollbar-track {
  border: 1px solid green;
  border-radius: 100px;
}

.main-container::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 100px;
}

#loading {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#filters-container {
  min-width: 200px;
  top: 52px;
  right: 9px;
  position: absolute;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  padding: 16px;
  border-radius: 8px;
  overflow: hidden;
  z-index: 998;
  box-shadow: black 0px 0px 2000px 50px;
}

#add-filter-btn {
  position: absolute;
}

.top-bar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
  z-index: 997;
  background-color: rgb(255, 255, 255);
  top: 0;
}

.filterRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding: 0;
}

#result {
  display: flex !important;
  flex-direction: column;
  gap: 10px;
}

#toggle-columns-btn {
  position: relative;
}

#all-checkboxes-container {
  min-width: 200px;
  top: calc(100% + 5px);
  right: -2px;
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  border-radius: 8px;
  overflow: hidden;
  z-index: 998;
}

#table-container {
  max-height: 451px;
  overflow-y: scroll;
  margin: 0 !important;
  padding: 0 !important;
}

#table-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 100px;
}

#table-container::-webkit-scrollbar-track {
  border: 1px solid green;
  border-radius: 100px;
}

#table-container::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 100px;
}

#export-table {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 8px;
  position: relative;
}

#export-table tr:hover td {
  transition: 0.15s;
  background-color: #ccc;
}

#export-table th {
  transition: 0.25s;
  background-color: #222;
  color: white;
  position: sticky;
  top: 0px;
}

#export-table th:hover {
  transition: 0.25s;
  opacity: 0.75;
}

#export-table th,
td {
  text-align: center;
  border-left: 1px rgb(216, 216, 216) solid;
}

/* #show-filters-btn {
  position: relative;
} */

#pages-btn-list {
  list-style-type: none;
  margin: 0px 15px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

#sort-status {
  margin: 0 !important;
}

#pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  background-color: rgb(255, 255, 255);
  margin: 0 !important;
}

#next-previous-pagination-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* style="display: flex; align-items: center; min-width: 200px" */
#show-state-and-select-page-size-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  /* min-width: 200px; */
}

h1 {
  text-align: center;
}

.active-page-btn {
  background: green;
}

.hide {
  display: none;
}
