.main-container {
  width: 100%;
  min-width: 683px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-bar {
  display: flex;
  width: 100%;
  gap: 8px;
  z-index: 997;
  background-color: rgb(255, 255, 255);
  top: 0;
}

#result {
  display: flex !important;
  flex-direction: column;
  gap: 10px;
}

#toggle-columns-btn {
  position: relative;
}

#all-checkboxes-container {
  min-width: 200px;
  top: calc(100% + 5px);
  right: 0;
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  border-radius: 8px;
  overflow: hidden;
  z-index: 998;
}

#table-container {
  max-height: 451px;
  overflow-y: scroll;
  margin: 0 !important;
  padding: 0 !important;
}

#table-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 100px;
}

#table-container::-webkit-scrollbar-track {
  border: 1px solid green;
  border-radius: 100px;
}

#table-container::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 100px;
}

#export-table {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 8px;
  position: relative;
}

#export-table tr:hover td {
  transition: 0.15s;
  background-color: #ccc;
}

#export-table th {
  background-color: #222;
  color: white;
  position: sticky;
  top: 0px;
}

#export-table th,
td {
  text-align: center;
}

#excel-export-button {
  margin-right: auto;
}

#pages-btn-list {
  list-style-type: none;
  margin: 0px 15px;
  padding: 0;
  display: flex;
  gap: 5px;
}

#sort-status {
  margin: 0 !important;
}

#pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
  background-color: rgb(255, 255, 255);
  margin: 0 !important;
}

#next-previous-pagination-container {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

#show-state {
  margin-right: 20px;
}

h1 {
  text-align: center;
}

.active-page-btn {
  background: green;
}

.hide {
  display: none;
}

#loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  color: #fff;
}
